/* ============================
   FONDO GENERAL DEL CONTENIDO
   ============================ */
:host ::ng-deep ion-content {
  --background: #000000 !important;
  color: #ffffff !important;
}

/* ============================
   TOOLBAR
   ============================ */
:host ::ng-deep ion-toolbar {
  --background: #000 !important;
  border-bottom: 2px solid #00e5d4;
}

.title-custom {
  color: #ff2e2e !important;
  text-shadow: 0 0 6px #00e5d4;
}

/* ============================
   BOTÓN CERRAR SESIÓN
   ============================ */
.btn-logout {
  --background: hsl(0, 73%, 40%) !important;
  --color: #ffffff !important;
}

.btn-logout::part(native) {
  color: #ffffff !important;
}

/* ============================
   TARJETAS
   ============================ */
.juego-card {
  background: #111 !important;
  box-shadow: 0 0 12px rgba(0, 229, 212, 0.6);
}

/* AUDIO */
.audio-player {
  width: 100%;
  border-radius: 8px;
}

/* PRECIO Y STOCK */
.card-content-custom {
  background: #0d0d0d !important;
}

.dato-precio strong {
  color: #00e2d4 !important;
}

.dato-stock strong {
  color: #00e2d4 !important;
}

/* BOTONES */
.btn-editar {
  --background: #00e5d4 !important;
  --color: #000 !important;
}

.btn-eliminar {
  --background: #ff2e2e !important;
  --color: #fff !important;
}