<ion-header class="header-custom">
  <ion-toolbar class="toolbar-custom">
    <ion-title class="title-custom">VideoGames Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-background">

  <div class="login-container">

    <ion-card class="login-card">
      <ion-card-content>

        <h2 class="welcome-text">Iniciar Sesión</h2>

        <ion-item class="input-custom">
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item class="input-custom">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-button expand="block" class="btn-login" (click)="login()">
          Iniciar sesión
        </ion-button>

        <ion-button expand="block" fill="outline" class="btn-register" (click)="register()">
          Registrarse
        </ion-button>

        <ion-text color="danger" *ngIf="mensaje">
          <p class="error-text">{{ mensaje }}</p>
        </ion-text>

      </ion-card-content>
    </ion-card>

  </div>

</ion-content>